<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script>
			var gameId = -1;
			var scope = null;
			var http = null;
				
					
			// initial setup, all grid empty
			angular.module('myApp', []).controller('myCtrl', function($scope, $http) {
				scope = $scope;
				http = $http;
    		$scope.gameGrid = "";
				$scope.infoMessage = "";
				$scope.newGame = function newGame(first, second) {
					if(first == undefined) first = "";
					if(second == undefined) second = "";
					http.get('http://localhost:8080/new?first=' + first + '&' + 'second=' + second).then(function(response) {
						gameId = response.data.gameId;
						getStatus();					
					});
				}
			});		

			function getStatus() {
				http.get('http://localhost:8080/status?gameId=' + gameId).then(function(statusResponse) {									
					var gameGrid = [["", "", ""], ["", "", ""], ["", "", ""]];
					for(i = 0; i < statusResponse.data.game.length; i++) {
						row = statusResponse.data.game[i].row;
						col = statusResponse.data.game[i].column;
						value = statusResponse.data.game[i].value;
						gameGrid[row][col] = value;
					}

					scope.grid00 = gameGrid[0][0];
					scope.grid01 = gameGrid[0][1];
      		scope.grid02 = gameGrid[0][2];
					scope.grid10 = gameGrid[1][0];
					scope.grid11 = gameGrid[1][1];
					scope.grid12 = gameGrid[1][2];
					scope.grid20 = gameGrid[2][0];
					scope.grid21 = gameGrid[2][1];
					scope.grid22 = gameGrid[2][2];
				});
			}

			function playMove(row, col) {
    		http.get('http://localhost:8080/play?gameId=' + gameId + '&row=' + row + '&column=' + col).then(function(playResponse) {
					if(playResponse.data.status == 0){ // OK status  	
						getStatus();								
					} else if(playResponse.data.status == 412) { // illegal move
							scope.infoMessage = "Illegal move, try an empty grid slot or the game is finished.";
					} else if(playResponse.data.status == 1) { // wrong game id
							scope.infoMessage = "Something is wrong, this is not your game";
					}
				});
			}
		</script>	
	</head>
	<body ng-app="myApp">
			<div ng-controller="myCtrl">
				<p>{{infoMessage}}</p>
				
				<form>
  				Player 1 name: <input type="text" ng-model="players.p1Name"/> <br/>
					Player 2 name: <input type="text" ng-model="players.p2Name"/> <br/>
  				<button ng-click="newGame(players.p1Name, players.p2Name)">Change players</button>
				</form>

				<table style="width:300px;height:300px;">
  			<tr> 
    			<td><button style="width:75px;height:75px;" onclick="playMove(0, 0)">{{grid00}}</button></td>
    			<td><button style="width:75px;height:75px;" onclick="playMove(0, 1)">{{grid01}}</button></td> 
    			<td><button style="width:75px;height:75px;" onclick="playMove(0, 2)">{{grid02}}</button></td>
  			</tr>
  			<tr>
    			<td><button style="width:75px;height:75px;" onclick="playMove(1, 0)">{{grid10}}</button></td>
					<td><button style="width:75px;height:75px;" onclick="playMove(1, 1)">{{grid11}}</button></td>
					<td><button style="width:75px;height:75px;" onclick="playMove(1, 2)">{{grid12}}</button></td>
  			</tr>
  			<tr>
					<td><button style="width:75px;height:75px;" onclick="playMove(2, 0)">{{grid20}}</button></td>
					<td><button style="width:75px;height:75px;" onclick="playMove(2, 1)">{{grid21}}</button></td>
					<td><button style="width:75px;height:75px;" onclick="playMove(2, 2)">{{grid22}}</button></td>
  			</tr>
				</table>
			</div>
	</body>
</html>
